# Jypyter Notebooks and Python Refresh Homework 3
We are going to do the Python Refresh Homework in a juypyter Notebook. In this homework we will review the basic principles of python programming. You will work through a few questions and build some scripts. You will need the Bloom et al Dataset found in this repository. For each question add a cell to put your answer in either as a text cell or a code cell following the question.

### Markdown
Here is a [markdown refresh](https://programminghistorian.org/en/lessons/getting-started-with-markdown)

### General concepts to refresh and lessons to review if you need them:

Here is a nice [Python_Refresh](https://pythonforbiologists.com/introduction) that goes over the majority of the basic python commands.

Remember these Primers from Last Semester

[Python_Primer1](https://github.com/tparchman/BIOL792_course_site/blob/master/week6_pythonI/python_1_primer.md) 

[Lists_for_loops](https://github.com/tparchman/BIOL792_course_site/blob/master/week7_pythonII/python_2_primer.md)

[Input_Output](https://github.com/tparchman/BIOL792_course_site/blob/master/week8_python3/python_3_primer.md)

[Dictionaries](https://github.com/tparchman/BIOL792_course_site/blob/master/week11_python6/primer_python6.md)


### Remember these Common commands as you work through this exercise
	data types
	lists and dictionaries 
	if while and for loops
	reading files

## Part I: Questions

1.	Name one of the basic building blocks of programming and a small definition.

**Variables:** A name that holds a value and can be a number, character or series of characters.

2.	Match the data type to the appropriate data
    
    **Data type:** string, integer, boolean, floating point
    
    **Data:** true, 123, 'I am a programmer', 34.63221
    
    **Answer:** String: 'I am a programer'; Integer: 123; Boolean: true; Floating Point: 34.63221

3.	What would I get if I did tried to add these to numbers together ```123``` and ```5```.
		
		a) if the numbers were formatted as strings
        
            They will be concatenated not added (1235)
		
		b) if they were formatted as integers
        
            The result will be the sum of 123 + 5 = 128

4.	Lists, also called vectors, are one dimensional arrays and are a series of items. From the following list what would the question ```apple_list[3]``` return?  Remember we refer to items in a list by their position. Hint – remember how computers count.
		
		```apple_list=[‘banana’,’pear’,’kumquat’,’pomegranate’,’passion fruit’]```

In [4]:
apple_list = ["banana", "pear", "kumquat", "pomegranate", "passion fruit"] 
#for some reason a sigle quote gave me an error.
apple_list[3]

'pomegranate'

**Answer:** pomegranate

5.	Name a difference between lists and dictionaries?

They are different data structures, a **list** stores sequence of objects in a certain order and can be modifiable after being created. On the other hand, a **dictionary** is an unordered collection of key-value pairs also called an assortative array, hash or map.

6.	What would you get from this question from the following dictionary:  ```fruit_dict[‘pear’]```
```		
		fruit_dict = {}
		fruit_dict[‘apple’]=10
		fruit_dict[‘pear’] = 3
		fruit_dict[‘walnut’]=216
```
or in another way


```
fruit_dict = {
    'apple':10,
    'pear':3,
    'walnut':216,
}

print(fruit_dict)
```

In [9]:
fruit_dict = {
    'apple':10,
    'pear':3,
    'walnut':216,
}

print(fruit_dict)
fruit_dict['pear']

{'apple': 10, 'pear': 3, 'walnut': 216}

3

**Answer:** 3

7.	In python what does the function ```.replace()``` do?

Pyhton string method .replace() returns a copy of the string in which the occurrences have been replaced with new imput:

In [12]:
svc = "I love US"
s = svc.replace("US", "Ecuador")
print (s)

I love Ecuador

8.	How do you print something in python?  For example write a print statement to print “hello world!”

In [10]:
print ("Hello world!!!")

Hello world!!!

9.	Name one place you can go to get help with python?

Stack Overflow

10.	What is an ```if``` statement and when would you use one?

The if statement is used for conditional execution or branching. An if statement is one of the control structures that controls the flow of the program.

11.	From this list:  ```container_list = [‘can’,’jar’,’hat’]``` What would be returned from this: ```container_list[0:2]```.  Hint: Remember one number is inclusive and one exclusive.

In [14]:
container_list = ["can","jar","hat"]
container_list[0:2]

['can', 'jar']

12.	What is the difference between an ```if``` statement and a ```while``` loop?

**Answer:** 

An if statement checks if an expression is true or false, and then runs the code inside the statement only if it is true. The code inside the loop is only run once.

A while statement is a loop. Basically, it continues to execute the code in the while statement for however long the expression is true.

13.	What would you get with the command ```fruit_dict.keys()```  after entering this dictionary:  
		fruit_dict = {}
		fruit_dict[‘apple’]=10
		fruit_dict[‘pear’] = 3
		fruit_dict[‘walnut’]=216

In [25]:
fruit_dict= {}

fruit_dict['apple'] = 10
fruit_dict['pear'] = 3
fruit_dict['walnut'] = 216

fruit_dict.keys()

dict_keys(['apple', 'pear', 'walnut'])

14.	In this statement: ```InFileName = open(InFileName, ‘r’)``` what does the ‘r’ indicate ?

**Answer:** Opens an existing file for **reading** purpose.

15.	What does this command do? ```Line.strip(‘\n’)``` why would you use it when printing out lines to the screen?

**Answer:** Using striip(‘\n’) will remove any new line characters from the start and end of the string. A common use for strip(‘\n’) is when reading text from the file - each line will be terminated by a ‘\n’ and often you want to remove that so that you can just process the data on the line.

16.	How would you split a line from a csv file into a list

In [ ]:
import csv

f = open('data.csv')

data = []
for line in f:
    data_line = line.rstrip().split('\t')
    data.append(data_line)

print data

## Part II:  Practice Scripts
Below each question write the name of the script so I can find them. All scripts should be documented with in-line documentation.

1.	Create a documented python script that would 

		**a.** take this number 112345678911234566 and count the number of 2s in the string and print out the number. 

		**b.** take a sentence from user input, turn it all to lowercase letters and remove the spaces and count the length and print out the length.  You choose the sentence.

In [28]:
#a Make a string
string = "112345678911234566"
print(string.count("2")) #make a print statement to count all 2s in the string

2

In [36]:
#b Make a string
string = 'Santi Loves PHYTON'
print(string.lower()) #use string.lower to print lower cases
string.replace(" ", "") #use .replace to take away the spaces from the phrase

santi loves phyton

'SantiLovesPHYTON'

In [37]:
string2 = 'SantiLovesPHYTON'
print("The length of the Array is", len(string2)) #use len to coun the lenght in the phrase.

The length of the Array is 16

2.	Create a documented python script that will do the following two things. For each task, first write the pseudocode, comment out the pseudocode and beneath the pseudocode write the script.

		**a.** Create a list of numbers (any numbers you like). Then loop through the items in the list adding 1 to every number and print those numbers.

		**b.** Create a dictionary of animals and their sizes (make up whatever you want). Print out the keys of the dictionary. Make a list of all the animals and then write an if else statement to print out the animal name and the word “big” if the weight is over 20 grams and the word “small” if the weight is less than 20 grams.

In [65]:
#**Answers:**
#**a.** First create a list of 9 integers between 0 and 40, with 5 interval numbers, using the range function.
n = [i for i in range(0, 45, 5)]
print (n)
[x+1 for x in n] #use this function to add 1 to each number in the list

[0, 5, 10, 15, 20, 25, 30, 35, 40]

[1, 6, 11, 16, 21, 26, 31, 36, 41]

In [70]:
#Second option: make a list and do a for loop to add 1 to each number on the list.
n = [0, 5, 10, 15, 20, 25, 30, 35, 40]
for index in range(len(n)):
    n[index] = n[index] +1
print (n)

[1, 6, 11, 16, 21, 26, 31, 36, 41]

In [87]:
#b: Create a dictionary with different animal weights
animals = {
    "Dynastes": 19, 
    "Dichotomius": 12,
    "Puma": 200,
    "Orsus": 6000,
    "Megasoma": 21
}
print (animals)

#Make a list of all animals
for animals in animals.keys():
    print(animals)

{'Dynastes': 19, 'Dichotomius': 12, 'Puma': 200, 'Orsus': 6000, 'Megasoma': 21}
Dynastes
Dichotomius
Puma
Orsus
Megasoma

In [88]:
#if else statement to print out the animal name and the word “big” 
#if the weight is over 20 grams and the word “small” if the weight is less than 20 grams.
animals = {
    "Dynastes": 19, 
    "Dichotomius": 12,
    "Puma": 200,
    "Orsus": 6000,
    "Megasoma": 21
}

animals2 = {} #create a new empty dictionary
for key, value in animals.items():
    if value < 20:  #If vaule satisfies the condition, then store it in animals2
        print("Small")
    else:
        print("Big")

Small
Small
Big
Big
Big

3.	Create a documented python script that will open up the file “Bloom_etal_2018_Reduced_Dataset”.  Read through the file and print out the taxon name and their diadromous status. Add up all of the log body sizes and print out the total log body size for all the individuals in the file.

In [89]:
pwd

'/Users/santiagovillamarin/Desktop/DataScienceII/Data_Science_For_Biology_II-Spring_21/Part.II_PythonProgramming'

In [107]:
import pandas as pd
import numpy as np
import os

In [100]:
bloom = pd.read_csv("/Users/santiagovillamarin/Desktop/DataScienceII/Data_Science_For_Biology_II-Spring_21/Part.II_PythonProgramming/Bloom_etal_2018_Reduced_Dataset.csv")

In [101]:
bloom.columns

Index(['taxa', 'logbodysize', 'trophic_position', 'Reg'], dtype='object')

In [104]:
bloom_DS=pd.read_csv("Bloom_etal_2018_Reduced_Dataset.csv")

In [106]:
bloom_DS.head()

                   taxa  logbodysize  trophic_position         Reg
0        Alosa_alabamae     1.707570          0.431364  diadromous
1           Alosa_alosa     1.778151          0.556303  diadromous
2          Alosa_fallax     1.778151          0.556303  diadromous
3       Alosa_mediocris     1.778151          0.612784  diadromous
4  Alosa_pseudoharengus     1.602060          0.544068  diadromous

In [115]:
#Read through the file and print out the taxon name and their diadromous status.
print(bloom_DS[['taxa', 'Reg']]) #use the variables we want to visualize

                           taxa             Reg
0                Alosa_alabamae      diadromous
1                   Alosa_alosa      diadromous
2                  Alosa_fallax      diadromous
3               Alosa_mediocris      diadromous
4          Alosa_pseudoharengus      diadromous
5             Alosa_sapidissima      diadromous
6      Amazonsprattus_scintilla  non-diadromous
7              Anchoa_chamensis  non-diadromous
8                 Anchoa_cubana  non-diadromous
9          Anchoa_delicatissima  non-diadromous
10          Anchoa_lamprotaenia  non-diadromous
11              Anchoa_lyolepis  non-diadromous
12                 Anchoa_parva  non-diadromous
13            Anchoa_schofieldi  non-diadromous
14        Anchovia_surinamensis  non-diadromous
15          Anchoviella_balboae  non-diadromous
16     Anchoviella_brevirostris  non-diadromous
17           Anchoviella_jamesi  non-diadromous
18   Anchoviella_lepidentostole      diadromous
19       Anchoviella_manamensis  non-diadromous
20       Anodontostoma_chacunda      diadromous
21       Cetengraulis_edentulus  non-diadromous
22  Chirocentrodon_bleekerianus  non-diadromous
23      Clupeichthys_perakensis  non-diadromous
24        Clupeoides_borneensis  non-diadromous
25                 Coilia_nasus      diadromous
26          Ehirava_fluviatilis  non-diadromous
27        Encrasicholina_devisi  non-diadromous
28          Engraulis_eurystole  non-diadromous
29          Escualosa_thoracata  non-diadromous
30          Ethmalosa_fimbriata      diadromous
31      Gilchristella_aestuaria  non-diadromous
32                  Hilsa_kelee      diadromous
33         Hyperlophus_vittatus  non-diadromous
34       Jenkinsia_lamprotaenia  non-diadromous
35         Microthrissa_congica  non-diadromous
36            Pellona_harroweri  non-diadromous
37          Pellonula_leonensis      diadromous
38              Pellonula_vorax      diadromous
39        Potamalosa_richmondia      diadromous
40               Ramnogaster_sp  non-diadromous
41      Rhinosardinia_bahiensis  non-diadromous
42           Sauvagella_robusta  non-diadromous
43      Sierrathrissa_leonensis  non-diadromous
44    Spratelloides_delicatulus  non-diadromous
45           Stolephorus_waitei  non-diadromous
46      Stolothrissa_tanganicae  non-diadromous
47      Sundasalanx_mekongensis  non-diadromous
48             Tenualosa_ilisha      diadromous
49        Thryssa_cf_dussumieri  non-diadromous

In [110]:
#Add up all of the log body sizes and print out the total log body size for all the individuals in the file. 
np.sum(bloom_DS["logbodysize"]) #use .sum to add all the values form the variable logbodysize

52.079318752